{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body_id 'home' %}

{% block header %} {{ include("/partials/_navbar.html.twig",{ value:'accueil'}) }} {% endblock %}

{% block main %}

{#    {{ include('/partials/_carousel.html.twig',{imageName:imgCar,textCarousel:(imgDesc|striptags)}) }}#}
    <div id="home_root"></div>
{#    <caroussel imageList={{ imageList }}></caroussel>#}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container-fluid py-5 mb-5">
        <div class="container">
            <div class="row ">
                <div class="col-lg-5 align-content-lg-center">
                    <img style="
                    display:block;
                    border-radius:3%;
                    margin-left: auto;
                    margin-right: auto;
                    width:100%;"
                      src={{ asset("build/images/about.jpg") }} alt=""/>

                </div>
                <div class="col-lg-7 pt-5 pb-lg-5">
                    <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Learn About Us</h6>
                    <h1 class="mb-4 section-title">Nos visions</h1>
                    <h5 class="text-muted font-weight-normal mb-3">Eos kasd eos dolor vero vero, lorem stet
                        diam rebum. Ipsum amet sed vero dolor sea lorem justo est dolor eos</h5>
                    <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed
                        eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam
                        sea ipsum est dolor</p>

                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid bg-service py-5 mb-5">
        <div class="container py-5">
            <div class="row ">
                <div class="col-lg-5">
                    <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Learn about us</h6>
                    <h1 class="mb-4 section-title ">Nos visions</h1>
                    <p >Invidunt lorem justo clita. Erat lorem labore ea, justo dolor
                        lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et
                        erat ut sed diam sea ipsum</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eius, ex in ipsam, iste molestias natus odio omnis perspiciatis quibusdam quidem quisquam quod ullam vel voluptatum! Consequuntur modi nemo ullam.</p>
                    <a href={{ path('app_service') }} class="btn btn-primary mt-3 py-2 px-4">More Services</a>
                </div>
                <div class="col-lg-5 pt-5 pt-lg-0">
                    <img style="
                    display:block;
                    border-radius:3%;
                    margin-left: auto;
                    margin-right: auto;
                    width:100%;
                    " src={{ asset("build/images/about.jpg") }} alt=""/>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 mb-5">
        <div class="container">
            <div class="text-center row">
                <div class="col-lg-5">
                    <img style="
                    display:block;
                    border-radius:3%;
                    margin-left: auto;
                    margin-right: auto;
                    width:100%"
                     src={{ asset("build/images/about.jpg") }} alt=""/>
                </div>
                <div class="col-lg-7 pt-5 pb-lg-5">
                    <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Learn About Us</h6>
                    <h1 class="mb-4 section-titleProvide Th">Nos missions</h1>
                    <h5 class="text-muted font-weight-normal mb-3">Eos kasd eos dolor vero vero, lorem stet
                        diam rebum. Ipsum amet sed vero dolor sea lorem justo est dolor eos</h5>
                    <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed
                        eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam
                        sea ipsum est dolor</p>

                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid  py-5">
        <div class="container ">
            <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Learn About Us</h6>
            <h1 class="mb-4 section-title">Nos valeurs</h1>
            <div style="width:100%; justify-content: center;">
                <div class="flex-lg-row row" >
                    <div class="text-center col-lg-5 pt-5 pb-5" style="background-color:#FA942A;width: 500px;">
                        <h3 class="text-white">Audace</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Assumenda distinctio eius ipsum nobis placeat quae quos ratione repellendus?
                            Accusamus aperiam aspernatur illo maiores maxime perferendis porro quae
                            recusandae velit voluptate.</p>
                    </div>
                    <div class="text-center col-lg-5 pt-5 pb-5" style="background-color:#0DC1FF;width: 500px;">
                        <h3 class="text-white">Professionalisme</h3>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Assumenda distinctio eius ipsum nobis placeat quae quos ratione repellendus?
                            Accusamus aperiam aspernatur illo maiores maxime perferendis porro quae
                            recusandae velit voluptate.</span></p>
                    </div>
                </div>
                <div class="flex-lg-row row">
                    <div class="text-center col-lg-5 pt-5 pb-5 " style="background-color:#0DC1FF;width: 500px;">
                        <h3 class="text-white">Engagement</h3>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio eius ipsum nobis placeat quae quos ratione repellendus? Accusamus aperiam aspernatur illo maiores maxime perferendis porro quae recusandae velit voluptate.</span></p>
                    </div>
                    <div class="text-center col-lg-5 pt-5 pb-5 " style="background-color:#FA942A;width: 500px;">
                        <h3 class="text-white">Innovation</h3>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio eius ipsum nobis placeat quae quos ratione repellendus? Accusamus aperiam aspernatur illo maiores maxime perferendis porro quae recusandae velit voluptate.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home_js_manager') }}
{% endblock %}