{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body_id 'Login' %}

{% block main %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container center">
        <div class="text-center"><img style="width: 50px; height: auto;margin-top: 30px" src={{ asset("build/images/logo1.png") }}></div>
        <sign-in data-signuplink="{{"https://127.0.0.1:8000"~ path('app_sign_up') }}" data-linkgoogle="{{ redirect_link }}"
        ></sign-in>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('signin') }}
{% endblock %}